@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900");

html,
body {
  height: 100%;
}

html {
  background-color:cornflowerblue;
  background-size: cover;
  overflow-y: auto !important;
}